= stylesheet_link_tag "examples-scss"

.bs-docs-section
  %h1#absolute.page-header Absolute

  = partial "partials/scss/cssowl/absolute"

.bs-docs-section
  %h1#after.page-header After

  = partial "partials/scss/cssowl/after"

.bs-docs-section
  %h1#before.page-header Before

  = partial "partials/scss/cssowl/before"

.bs-docs-section
  %h1#coords.page-header Coords

  = partial "partials/scss/cssowl/coords"

.bs-docs-section
  %h1#relative.page-header Relative

  = partial "partials/scss/cssowl/relative"

.bs-docs-section
  %h1#sprite.page-header Sprite

  = partial "partials/scss/cssowl/sprite"

.bs-docs-section
  %h1#text.page-header Text

  = partial "partials/scss/cssowl/text"